<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Oswald&family=Quicksand&family=Raleway&display=swap" rel="stylesheet">
    <title>RA-Duve</title>
</head>
<body>
    <div id="menu" class="header">
        <div id="compName" onclick="window.location.href = '/';">Rechtsanwaltskanzlei Michaela Duve</div>
    </div>
    <div class=content>
        <div class="contentBox">
            <div class="headings">Impressum</div>
            <div class="headings headingsSmall">Seitenbetreiber i.S.d. §5 TMG</div>
            <p class="textForm marginLeft">
                Rechtsanwältin Michaela Duve<br>
                Bahnhofstraße 6 <br>
                91126 Schwabach <br>
                E-Mail: <a href="mailto:info@ra-duve.de">info@ra-duve.de</a><br>
                Tel: + 49-9122-8855730 <br>
                
            </p>
            <div class="headings headingsSmall">
                Verantwortlicher i.S.d. § 55 Abs. 2 RStV für die journalistisch-redaktionellen Inhalte
            </div>
            <p class="textForm marginLeft">
                Michaela Duve
                (Anschrift wie oben)
            </p>
            <div class="headings">Berufsrechtliche Regelungen / Hinweise zur Steitbeilegung</div>
            <div class="headings headingsSmall">
                Zuständige Aufsichtsbehörde und Kammer
            </div>
            <p class="textForm marginLeft">
                Rechtsanwaltskammer Nürnberg, Fürther Str. 115, 90429 Nürnberg, Deutschland <br>
                E-Mail: <a href="mailto:info@rak-nbg.de">info@rak-nbg.de</a><br>
                Telefon: + 49-911-92633-0 <br>
                Telefax: + 49-911-92633-33 <br>
            </p>
           <!-- <div class="headings headingsSmall">
               Rechtsform
            </div>
            <p class="textForm marginLeft">
                Partnerschaftsgesellschaft mit beschränkter Berufshaftung nach dem Partnerschaftsgesetz
                Vertretungsberechtigter
                Max Mustermann -->
                <div class="headings headingsSmall">
                    Berufsbezeichnung
                </div>
                <p class="textForm marginLeft">
                    Rechtsanwalt/Rechtsanwältin (verliehen in der Bundesrepublik Deutschland)
                </p>
                <div class="headings headingsSmall">
                        Umsatzsteuer-ID
                </div>
                <p class="textForm marginLeft">
                    DE326659914
                </p>
                <div class="headings headingsSmall">
                    Es gelten die folgenden berufsrechtlichen Regelungen:
                </div>
                <ul class="textForm marginLeft">
                    <li>Der Bundesrechtsanwaltsordnung (BRAO)</li>
                    <li>der Berufsordnung für Rechtsanwälte (BORA), der Fachanwaltsordnung (FAO)</li>
                    <li>dem Gesetz über die Vergütung der Rechtsanwältinnen und Rechtsanwälte (Rechtsanwaltsvergütungsgesetz – RVG</li>
                    <li>den Berufsregeln der Rechtsanwälte der Europäischen Union (CCBE) sowie dem </li>
                    <li>Gesetz über die Tätigkeit europäischer Rechtsanwälte in Deutschland vom 9. März 2000 (EuRAG)</li>
                </ul>
                <p class="textForm marginLeft">
                    Die berufsrechtlichen Regelungen können über die Homepage der Bundesrechtsanwaltskammer in der Rubrik <a href="http://www.brak.de">Berufsrecht</a> auf Deutsch und Englisch eingesehen und abgerufen werden. Die Übersetzungen von BRAO und BORA ins Englische wurden durch die Bundesrechtsanwaltskammer bzw. in deren Auftrag angefertigt.
                </p>
                <div class="headings headingsSmall">
                    Berufshaftpflichtversicherung
                </div>
                <p class="textForm marginLeft">
                    R+V Allgemeine Versicherung AG <br>
                    Raiffeisenplatz 1<br>
                    65189 Wiesbaden<br>
                    Deutschland <br>
                    Räumlicher Geltungsbereich: Mitgliedsländer der Europäischen Union<br>
                </p>
                <div class="headings headingsSmall">
                    Interessenkonflikte
                </div>
                <p class="textForm marginLeft">
                    Die Wahrnehmung widerstreitender Interessen ist Rechtsanwälten aufgrund berufsrechtlicher Regelungen untersagt (§ 43 Abs. 4 BRAO). Vor Annahme eines Mandats wird deshalb immer geprüft, ob ein Interessenkonflikt vorliegt.
                </p>
                <div class="headings headingsSmall">
                    Außergerichtliche Streitschlichtung
                </div>
                <p class="textForm marginLeft">
                    Zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle besteht keine Verpflichtung und keine Bereitschaft. Die Nutzung einer alternativen Schlichtungsstelle stellt keine zwingende Voraussetzung für das Anrufen zuständiger ordentlicher Gerichte dar. <br>
                    Bei Streitigkeiten zwischen Rechtsanwälten und ihren Auftraggebern besteht auf Antrag die Möglichkeit der außergerichtlichen Streitschlichtung bei der regionalen Rechtsanwaltskammer Nürnberg (Kontaktinformationen am Anfang der Seite) oder bei der Schlichtungsstelle der Rechtsanwaltschaft bei der Bundesrechtsanwaltskammer, im Internet zu finden über die Homepage der Bundesrechtsanwaltskammer (www.brak.de), E-Mail: <a href="mailto:schlichtungsstelle@brak.de">schlichtungsstelle@brak.de</a>.<br>
                    <br>
                    Zur außergerichtlichen Beilegung von verbraucherrechtlichen Streitigkeiten im Zusammenhang mit Online-Dienstverträgen mit Verbrauchern hat die Europäische Union eine Online-Plattform (“OS-Plattform”) eingerichtet. Die Plattform finden Sie <a href="http://ec.europa.eu/consumers/odr/main/?event=main.home2.show">hier</a>. <br>
                    <br>
                </p>
            </div>
        </div>
    <div class="footer footer--menu">
        <div class="footer--item">
            Rechtwsanwaltskanzlei Michaela Duve, Bahnhofstraße 6, 91126 Schwabach, <a href="mailto:info@ra-duve.de">info@ra-duve.de</a>
        </div>
        <div class="footer--item"><a href="impressum.html">Impressum</a></div>
        <div class="footer--item"><a href="datenschutz.html">Datenschutz</a></div>
    </div>
</body>
</html>